/* S 字体颜色 */
.fc-orgin{
	color: #f7d61c !important;
}
/* E 字体颜色 */
/* S 头部 */
.g-home-hd {
    height: 60px;
    line-height: 60px;
    /* position: fixed; */
    position: relative;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
}

.g-home-hd a {
    color: #ebd368;
}

.g-home-hd .m-home-nav li {}

.g-home-hd .m-home-nav li a {
    font-size: 16px;
    padding: 0px 32px;
    display: block;
}

.g-home-hd .m-home-login a {
    display: block;
    background: url(../../images/login.png)no-repeat center right 0px;
    padding: 0px 32px;
}


/* E 头部 */

/* S 广告 */
.g-info-hot{
	width: 100%;
	height: auto;
	margin: 40px 0 20px;
}
.g-info-hot img{
	display: block;
	width: 100%;
}
/* E 广告*/

/* S 内容  */
.c-mt20{
	margin-top: 20px;
}

.c-mt10{
	margin-top: 10px;
}
.c-ml20{
	margin-left: 20px;
}
.c-ml40{
	margin-left: 40px;
}
.c-mb20{
	margin-bottom: 20px;
}
.c-mt50{
	margin-top: 50px;
}
.c-mr25{
	margin-right: 25px;
}
.g-info-container{
	margin: 20px 0;
}
.g-info-container .g-title{
	padding:40px;
	background: #333;
	color: #999;
	font-size: 14px;
}
.g-info-container .g-content{
	height: auto;
}
.g-info-container .g-content img{
	width: 100%;
}
.info-title-fl{
	float: left;
}
.info-title-fl .title{
	font-size: 22px;
	color: #fff;
	font-weight: normal;
}
.info-title-fl .status{
	margin: 16px 0;
}
.info-title-fl .status span{
	display: inline-block;
	line-height: 20px;
	margin-left: 13px;
}
.info-title-fl .status span:first-child{
	margin-left: 0;
	margin-right: 24px;
}
.info-title-fl .status span img{
	vertical-align: middle;
	margin-right: 5px;
}
.g-info-container .g-fd-top,.g-info-container .g-fd-bt{
	background: #333;
	color: #fff;
}
.g-info-container .g-fd-top{
	padding: 47px 40px;
	border-bottom: 4px solid #1a1a1a;
}
.g-info-container .g-fd-bt{
	padding: 0 40px;
}
.g-info-container .g-fd-bt{
	line-height: 75px;
}

.info-title-fr{
	float: right;
}
.info-title-img{
	width: 86px;
	height: 86px;
}
.info-title-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.p-attention-ct-left-attention,.p-attention-ct-left-msg{
	cursor: pointer;
}
.p-attention-ct-left-attention{
    background-color: #F7D61C;
    padding: 5px 20px;
    border-radius: 13px;
    display: inline-block;
    color: #333;
}
.p-attention-ct-left-msg{
    border: 1px solid #F7D61C;
    padding: 5px 20px;
    border-radius: 13px;
    display: inline-block;
    color: #fff;
}
.info-fd-top{
	font-size: 14px;
	line-height: 55px;
	color: #fff;
}
.u-share-btn{
	display: inline-block;
	margin-left: 17px;
}
.u-share-btn img{
	vertical-align: middle;
}
.u-praise-btn{
	display: block;
	width: 108px;
	padding: 7px 0 10px;
	border-radius: 20px;
	background: #f7d61c;
	font-size: 12px;
	color: #fff;

}
.u-praise-btn p{
	margin-top: 6px;
}
.u-fun-btn{
	display: inline-block;
	width: 98px;
	height: 30px;
	border: 1px solid #f7d61c;
	border-radius: 5px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.u-fun-btn:hover{
	color: #fff;
}
.u-fun-btn img{
	margin-right: 4px;
	vertical-align: middle;
}
.u-fun-btn-borno{
	border: none;
}
/* E 内容 */




/* S 信息 */
.p-attention-ct{
    margin-top: 30px;
    color: #fff;
}
/* S 信息区左侧 */
.p-attention-ct .p-attention-ct-left{
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
.p-attention-ct-left-person{
    padding: 40px 0;
    background-color: #333;
}

.p-attention-ct-left-look{
    padding: 20px 0 40px 0;
    background-color: #333;
}
.p-attention-ct-left-look p{
    font-size: 16px;
    border-bottom: 1px solid #9fa0a0;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 20px;
}
.p-attention-ct-left-look ul{
    padding: 0 20px;
}
.p-attention-ct-left-look ul li {
    float: left;
    width:33.33%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
}
.p-attention-ct-left-look .browser-name{
    display: inline-block;
    padding: 5px 0 5px 0;
    width: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* E 信息区左侧 */

/* S 信息区右侧 */
.p-attention-ct .p-attention-ct-right{
    float: left;
    width: 75%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
}
.attention-rotate-img{
    max-width: 100%;
}
.personal-product-list {
    text-align: left;
    background-color: #333;
    padding-left: 20px;
}
.personal-product-list ul li{
    display: inline-block;
    font-size: 16px;
    padding: 15px 0;
}
.personal-product-list ul li span{
    cursor: pointer;
    padding: 3px 15px;
    display: inline-block;
}
.personal-product-list ul li span:hover{
    background-color: #F7D61C;
    color: #333;
    padding: 3px 15px;
    border-radius: 13px;
}
.personal-product-content{
    background-color: #333;
    padding: 20px;
}
.personal-product-content .p-attention-ct-left-attention{
    margin-right: 5px;
}
.personal-product-content .p-attention-ct-left-attention ,.personal-product-content .p-attention-ct-left-msg{
    padding: 4px 10px;
}
.personal-product-content-portrait{
    width: 12%;
    box-sizing: border-box;
    float: left;
}
.personal-product-content ul li{
    margin-bottom: 20px;
}
.personal-product-content ul li:last-of-type{
    margin-bottom:0;
}
.personal-product-content ul li div{
    width: 22%;
    float: left;
    box-sizing: border-box;
}
.personal-product-sight img,.personal-product-sight span{
    vertical-align: middle;
}
.personal-product-fan-name{
    font-size: 16px;
}
.personal-product-fan-num{
    padding: 10px 0;
}
.personal-product-content ul li div img{
    max-width: 90%;
}
.personal-product-page .m-newest-Page {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.personal-product-page .m-newest-Page ul {
    display: inline-block;
}

.personal-product-page .m-newest-Page ul li a {
    padding: 13px 16px;
    background: #666;
    margin: 0px 3px;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    color: #9fa0a0;
}

.personal-product-page .m-newest-Page ul li .active {
    background: #F7D61C;
    color: #fff;
}
.personal-product-commend{
    padding-top: 20px;
    background-color: #333;
}
.commend-wrap textarea {
    width: 100%;
    background-color: #666;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
}
.personal-product-commend .commend-wrap{
    padding: 0 30px;
}
.personal-product-commend .commend-num{
    text-align: left;
    border-top: 1px solid #666;
    padding: 20px 30px 0;
    margin-top: 15px;
}
.personal-product-commend .commend-num span:first-of-type{
    font-size: 16px;
    padding-right: 10px;
}
.personal-product-commend ul li{
    text-align: left;
    padding: 30px 30px 50px;
    border-bottom: 1px solid #666;
}
.personal-product-commend ul li:last-of-type{
    border-bottom: none;
}
.personal-product-commend ul li img,.personal-product-commend ul li div{
    vertical-align: middle;
}
.personal-product-commend-thumb{
    text-align: right;
}
.personal-product-commend-reply:before{
    content: "";
    height: 0;
    position: absolute;
    left: 20px;
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #666;
}
.personal-product-commend-reply{
    position: relative;
    padding: 20px;
    margin-left: 80px;
    margin-top: 30px;
    background-color: #666;
    border-radius: 5px;
}
.personal-product-commend-reply p{
    margin-top: 5px;
}

/**S 个人信息**/
.info-tab-title{
	font-size: 16px;
	text-align: left;
}
.info-tab-title span{
	margin-right: 30px;
}
.info-tab-show{
	text-align: left;
	margin:20px 0 20px -3%;
}
.info-tab-show a{
	display: inline-block;
	width: 30%;
	margin-left: 3%;
	border-radius: 10px;
	overflow: hidden;
}
.info-tab-show a img{
	width: 100%;
}
/**E 个人信息**/

/**S 猜你喜欢**/
.info-link{
	text-align: left;
	margin:20px 0 20px -3%;
}
.info-link .info-link-list{
	float: left;
	width: 30%;
	overflow: hidden;
	margin-left: 3%;
	border-radius: 10px;
	background: #fff;
}	
.link-img{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
	overflow: hidden;
}
.link-img img{
	width: 100%;
}
.info-link-des{
	margin: 20px 20px 0 20px;
	position: relative;
}

.info-link-des-top{
	width: 65%;
	text-align: left;
}
.info-link-des-top .info-link-title,.info-link-des-top .info-link-ftitle{
	font-weight: normal;
	color: #595757;
}

.info-link-des-top .info-link-title{
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 14px;
    margin-bottom: 10px;
}
.info-link-des-top .info-link-ftitle{
	font-size: 12px;
}
.info-link-des-top .info-link-fun{
	color: #9fa0a0;
	font-size: 12px;
	line-height: 13px;
}
.info-link-des-top .info-link-fun{
	margin-right: -13px;
	padding: 20px 0;
}
.info-link-des-top .info-link-fun span{
	margin-right: 13px;
}
.info-link-des-top .info-link-fun img{
	vertical-align: middle;
}
.info-link-des-tx{
	padding: 0 20px;
	border-top: 1px solid #e6e6e7;
	line-height: 50px;
}
.info-link-des-tx .info-link-tx,.info-link-des-tx .info-link-time{
	display: inline-block;
	color: #9fa0a0;
}
.info-link-des-tx .info-link-tx{
	float: left;
}
.info-link-des-tx .info-link-tx img{
	width: 21px;
	height: 21px;
	vertical-align: middle;
	border-radius: 100%;
}
.info-link-des-tx .info-link-tx span{
	display: inline-block;
	width: 70px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    vertical-align: middle;
    font-size: 12px;
   	text-decoration: underline;
}
.info-link-des-tx .info-link-time{
	float: right;
}
/**E 猜你喜欢**/

/* S 底部 */

.ft-home {
    display: block;
}

.ft-home .ft-home-introduce {
    padding: 52px 22px 40px 0px;
    border-right: 1px solid #dbdbdb;
}

.ft-home .ft-home-nav-box {
    padding: 32px 0px;
}

.ft-home .ft-home-UiFree {
    color: #595757;
    font-size: 30px;
    text-align: center;
    padding: 42px 0px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav {
    padding: 0px 58px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dt {
    padding: 12px 0px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dt a {
    font-size: 14px;
    color: #999;
    font-weight: bold;
}
.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dt a:hover{
    color: #fff;
}
.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dd {
    padding: 8px 0px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dd a {
    font-size: 12px;
    color: #595757;
    font-weight: bold;
}

.ft-home-ct {
    padding-top: 14px;
    padding-bottom: 170px;
}


/* =S 二维码 */

.ft-home-share-box {
    padding-bottom: 16px;
    text-align: right;
}

.ft-home .ft-home-share-box h3 {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.ft-home .ft-home-share-box .ft-share-img {
	display: inline-block;
    width: 66px;
    height: 66px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 6px;
}

.ft-home .ft-home-share-box img {
    width: 100%;
    border-radius: 6px;
}


/* =E 二维码 */


/* =S 版权 */

.ft-home-copyright {
    padding-top: 26px;
    padding-bottom: 128px;
}

.ft-home-copyright .ft-home-copyright-text {
    font-size: 12px;
    color: #444;
    position: absolute;
	bottom: 0;
	left: 0;
}

.ft-home-copyright .ft-home-Info span {
    color: #444;
    font-size: 12px;
}

.ft-home-copyright .ft-home-Info span font {
    color: #7a99f2;
    font-size: 20px;
}


/* =E 版权 */
