.row {
    margin: 0px -10px;
}


/* S 首页推荐 */

.g-home-recommend .g-home-recommend-item {
    padding-top: 14px;
    padding-bottom: 24px;
}

.g-home-recommend .item-box {
    text-align: center;
    margin: 0px 10px;
}

.g-home-recommend .item-box img {
    width: 100%;
}

.g-home-recommend .g-home-recommend-box .m-recommend-info {
    padding-top: 36px;
}

.g-home-recommend .g-home-recommend-box .m-recommend-info .u-recommend-info-ad-homeText {
    font-size: 16px;
    color: #f7d61c;
    font-weight: bold;
    margin-right: 6px;
}

.g-home-recommend .g-home-recommend-box .m-recommend-info .u-recommend-info-ad a {
    padding-left: 24px;
    font-size: 14px;
    color: #595757;
    background: url(../../../images/news.png) no-repeat left;
    display: inline-block;
}


/* .g-home-recommend .g-home-recommend-box .m-recommend-info .u-recommend-info-btn span {
    font-size: 14px;
    color: #595757;
} */

.g-home-recommend .g-home-recommend-box .m-recommend-info .u-recommend-info-btn a {
    padding: 8px 18px;
    margin-left: 20px;
    background: #f7d61c;
    color: #000;
    border-radius: 36px;
    font-size: 14px;
}


/* E 首页推荐 */


/* S 内容区 */

.g-home-ct .g-home-ct-box {
    margin-top: 10px;
    margin-bottom: 80px;
}


/* =S 索引关键词 */

.g-home-ct .g-home-ct-box .m-keyword {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 30px;
}

.g-home-ct .g-home-ct-box .m-keyword a {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 0px 20px;
    border-right: 1px solid #333;
}

.g-home-ct .g-home-ct-box .m-keyword a:last-child {
    border-right: none;
}

.g-home-ct .g-home-ct-box .m-keyword .active {
    color: #f7d61c;
}


/* =E 索引关键词 */


/* =S 最新内容 */


/* .m-newest-list {
    width: 25%;
    margin-bottom: 20px;
} */

.m-newest .item-box {
    margin: 0px 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 6px;
}

.m-newest .newest-img {
    border-radius: 6px;
}

.m-newest .newest-img img {
    width: 100%;
}

.m-newest .newest-details {
    padding-left: 20px;
    padding-right: 16px;
}

.m-newest .newest-details p {
    padding: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 12px;
}

.m-newest .m-newest-details-stats {
    margin: 10px 0px;
}

.browse_h {
    background: url(../../../images/info-icon-ca_13.png) no-repeat left;
    padding-left: 20px;
    padding-right: 12px;
    color: #9fa0a0;
}

.browse {
    background: url(../../../images/newest01.png) no-repeat left;
    padding-left: 20px;
    padding-right: 12px;
    color: #9fa0a0;
}

.fabulous {
    background: url(../../../images/newest02.png) no-repeat left;
    padding-left: 20px;
    padding-right: 12px;
    color: #9fa0a0;
}

.comment {
    background: url(../../../images/newest03.png) no-repeat left;
    padding-left: 20px;
    padding-right: 12px;
    color: #9fa0a0;
}

.focus {
    background: url(../../../images/newest04.png) no-repeat left;
    padding-left: 20px;
    padding-right: 12px;
    color: #9fa0a0;
}

.m-newest .m-newest-details-user {
    margin-left: -20px;
    margin-right: -16px;
    padding: 12px 16px 12px 20px;
    border-top: 1px solid #dbdbdb;
}

.m-newest .m-newest-details-user .user-info img {
    width: 26px;
    border-radius: 20px;
}

.m-newest .m-newest-details-user .user-info span {
    width: 70px;
    padding: 6px 0px 6px 8px;
    color: #9fa0a0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: underline;
}

.m-newest .m-newest-details-user .user-time {
    font-size: 12px;
    color: #9fa0a0;
    padding: 6px 0px 6px 8px;
}

.g-home-ct .m-newest .m-newest-Page {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.g-home-ct .m-newest .m-newest-Page ul {
    display: inline-block;
}

.Previous,
.Next {
    background: none !important;
}

.g-home-ct .m-newest .m-newest-Page ul li a {
    padding: 13px 16px;
    background: #666666;
    margin: 0px 3px;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    color: #9fa0a0;
}

.g-home-ct .m-newest .m-newest-Page ul li .active {
    background: #f7d61c;
    color: #000;
}


/* =E 最新内容 */


/* =S 编辑精选 */

.g-home-ct .m-editor {}

.g-home-ct-tt {
    padding: 38px 0px 40px 0px;
}

.g-home-ct-tt h2 {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.g-home-ct-tt a {
    font-size: 14px;
    color: #f7d61c;
}


/* =E 编辑精选 */


/* =S 推荐设计师 */

.m-designer .designer-bg {
    height: 420px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px 10px;
    margin-bottom: 20px;
}

.m-designer .designer-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 18px;
    padding-bottom: 34px;
}

.m-designer .designer-info p {
    color: #fff;
    font-size: 16px;
}

.designer-info-stats {
    padding-top: 22px;
}

.designer-info-stats a {
    color: #fff;
    font-size: 16px;
}


/* =E 推荐设计师 */


/* =S 推荐文章 */

.m-article .article-first {
    width: 40%;
    height: 396px;
    margin: 2px 0px;
}

.m-article .article-first-text {
    text-align: center;
}

.m-article .article-first .article-modal {
    width: 196px;
    height: 198px;
    background: #bfadad;
}

.m-article .article-sm .article-modal {
    width: 100%;
    height: 198px;
    background: #bfadad;
}

.m-article .article-first-rankings {
    padding: 20px 22px 50px 22px;
    color: #fff;
    z-index: 20;
}

.m-article .article-first-rankings span {
    font-size: 35.19px;
    border-bottom: 1px solid #dbdbdb;
}

.m-article .article-first-rankings p {
    width: 134px;
    font-size: 13.2px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.m-article .article-first-rankings a {
    color: #fff;
}

.m-article .article-first-text h1 {
    padding-top: 164px;
    font-size: 0.8462633451957297rem;
    color: #fff;
}

.m-article .article-sm {
    width: 20%;
    height: 396px;
    margin: 2px 0px;
    position: relative;
}

.m-article .article-sm .article-sm-ng {
    width: 100%;
    height: 198px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.op-04 {
    opacity: 0.4;
}

.op-1 {
    opacity: 1;
}

.ab-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.ab-bootom {
    position: absolute;
    bottom: 0;
}

.m-article .article-ct {
    margin: -4px;
}

.m-article .article-first .article-box {
    height: 100%;
    margin: 0px 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.m-article .article-sm .article-box {
    height: 100%;
    margin: 0px 2px;
    position: relative;
}


/* =E 推荐文章 */


/* =S 合作机构 */

.g-home-ct .m-cooperation .m-cooperation-item {
    height: 110px;
    border-radius: 6px;
    margin: 20px 10px;
    border: 1px solid #fff;
    text-align: center;
}

.g-home-ct .m-cooperation .m-cooperation-item img {
    width: 98px;
    height: 68px;
    margin-top: 22px;
}


/* =E 合作机构 */


/* =S 友情链接 */


/* =E 友情链接 */


/* E 内容区 */

@media (min-width:768px) {
    .m-designer .col {
        width: 33.33333%;
    }
}

@media (min-width:1024px) and (max-width: 1366px) {
    .m-designer .col {
        width: 20%;
    }
}

@media (min-width:1920px) {
    .m-designer .col {
        width: 16.66666%;
    }
}

@media (min-width:2560px) {
    .m-designer .col {
        width: 12.5555555%;
    }
}