body{
    overflow-x: hidden;
}
/* S 头部 */

.g-home-hd {
    height: 60px;
    line-height: 60px;
    /* position: fixed; */
    position: relative;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
}

.g-home-hd a {
    color: #ebd368;
}

.g-home-hd .m-home-nav li {}

.g-home-hd .m-home-nav li a {
    font-size: 16px;
    padding: 0px 32px;
    display: block;
}

.g-home-hd .m-home-login a {
    display: block;
    background: url(../../images/login.png)no-repeat center right 0px;
    padding: 0px 32px;
}


/* E 头部 */


.c-mt20{
    margin-top: 20px;
}
.c-mt50{
    margin-top: 50px;
}
.c-pl5{
    padding-left: 5px;
}
.c-pl20{
    padding-left: 20px;
}
.c-gray-color{
    color: #9fa0a0;
}

/* S 关注模块列 */
.p-attention-list ul{
    background-color: #333;
}
.p-attention-list ul li{
    color: #fff;
    float: left;
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    padding: 25px 0;
}

/* E 关注模块列 */


/* S 内容区 */
.p-attention-ct{
    margin-top: 30px;
    color: #fff;
}
/* S 内容区左侧 */
.p-attention-ct .p-attention-ct-left{
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
.p-attention-ct-left-person{
    padding: 40px 0;
    background-color: #333;
}

.p-attention-ct-left-attention{
    background-color: #F7D61C;
    padding: 5px 20px;
    border-radius: 13px;
    display: inline-block;
    margin-right: 25px;
    color: #333;
}
.p-attention-ct-left-msg{
    border: 1px solid #F7D61C;
    padding: 5px 20px;
    border-radius: 13px;
    display: inline-block;
}
.p-attention-ct-left-look{
    padding: 20px 0 40px 0;
    background-color: #333;
}
.p-attention-ct-left-look p{
    font-size: 16px;
    border-bottom: 1px solid #9fa0a0;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 20px;
}
.p-attention-ct-left-look ul{
    padding: 0 20px;
}
.p-attention-ct-left-look ul li {
    float: left;
    width:33.33%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
}
.p-attention-ct-left-look .browser-name{
    display: inline-block;
    padding: 5px 0 5px 0;
    width: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* E 内容区左侧 */

/* S 内容区右侧 */
.p-attention-ct .p-attention-ct-right{
    float: left;
    width: 75%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
}
.attention-rotate-img{
    max-width: 100%;
}
.personal-product-list {
    text-align: left;
    background-color: #333;
    padding-left: 20px;
}
.personal-product-list ul li{
    display: inline-block;
    font-size: 16px;
    padding: 15px 0;
}
.personal-product-list ul li span{
    cursor: pointer;
    padding: 3px 15px;
    display: inline-block;
}
.personal-product-list ul li span:hover,.personal-product-list ul li span.active{
    background-color: #F7D61C;
    color: #333;
    padding: 3px 15px;
    border-radius: 13px;
}
.personal-collection-content ul li{
    float: left;
    width: 32%;
    box-sizing: border-box;
    background-color: #fff;
    margin-right: 2%;
    border-radius: 8px;
}
.personal-collection-content ul li:nth-of-type(3n){
    margin-right: 0;
}
.personal-collection-content ul div{
    padding: 15px 20px 15px;
    text-align: left;
}
.personal-collection-content ul li .content-img{
    width: 100%;
}
.personal-collection-content ul span.dark-gray{
    color: #333;
}
.personal-collection-content ul span.dark-gray:first-of-type{
    padding-bottom: 10px;
}
.personal-collection-content ul span.c-gray-color{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 10px;
}
.personal-collection-content ul p{
    border-top: 1px solid #999;
    text-align: left;
    padding: 15px 20px 20px;
}
.personal-collection-content ul span span,.personal-collection-content ul span img{
    vertical-align: middle;

}
.personal-product-commend{
    padding: 20px 0;
    background-color: #333;
}
.commend-wrap textarea {
    width: 100%;
    background-color: #666;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
}
.personal-product-commend .commend-wrap{
    padding: 0 30px;
}
.personal-product-commend .commend-num{
    text-align: left;
    border-top: 1px solid #666;
    padding: 20px 30px 0;
    margin-top: 15px;
}
.personal-product-commend .commend-num span:first-of-type{
    font-size: 16px;
    padding-right: 10px;
}
.personal-product-commend ul li{
    text-align: left;
    padding: 30px 30px 50px;
    border-bottom: 1px solid #666;
}
.personal-product-commend ul li:last-of-type{
    border-bottom: none;
}
.personal-product-commend ul li img,.personal-product-commend ul li div{
    vertical-align: middle;
}
.personal-product-commend-thumb{
    text-align: right;
}
.personal-product-commend-reply:before{
    content: "";
    height: 0;
    position: absolute;
    left: 20px;
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #666;
}
.personal-product-commend-reply{
    position: relative;
    padding: 20px;
    margin-left: 80px;
    margin-top: 30px;
    background-color: #666;
    border-radius: 5px;
}
.personal-product-commend-reply p{
    margin-top: 5px;
}
/* E 内容区右侧 */
/* E 内容区 */


/* S 底部 */

.ft-home {
    display: block;
}

.ft-home .ft-home-introduce {
    padding: 52px 22px 40px 0px;
    border-right: 1px solid #dbdbdb;
}

.ft-home .ft-home-nav-box {
    padding: 32px 0px;
}

.ft-home .ft-home-UiFree {
    color: #595757;
    font-size: 30px;
    text-align: center;
    padding: 42px 0px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav {
    padding: 0px 58px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dt {
    padding: 12px 0px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dt a {
    font-size: 14px;
    color: #999;
    font-weight: bold;
}
.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dt a:hover{
    color: #fff;
}
.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dd {
    padding: 8px 0px;
}

.ft-home .ft-home-ct .ft-home-nav-box .ft-nav dd a {
    font-size: 12px;
    color: #595757;
    font-weight: bold;
}

.ft-home-ct {
    padding: 14px 0px;
}


/* =S 二维码 */

.ft-home-share-box {
    padding-top: 34px;
    padding-bottom: 16px;
    text-align: center;
}

.ft-home .ft-home-share-box h3 {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.ft-home .ft-home-share-box .ft-share-img {
    width: 66px;
    height: 66px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 6px;
}

.ft-home .ft-home-share-box img {
    width: 100%;
    border-radius: 6px;
}


/* =E 二维码 */


/* =S 版权 */

.ft-home-copyright {
    padding: 26px 0px;
}

.ft-home-copyright .ft-home-copyright-text {
    font-size: 12px;
    color: #444;
}

.ft-home-copyright .ft-home-Info span {
    color: #444;
    font-size: 12px;
}

.ft-home-copyright .ft-home-Info span font {
    color: #7a99f2;
    font-size: 20px;
}


/* =E 版权 */


/* E 底部 */
