body{
    overflow-x: hidden;
}


.c-mt20{
    margin-top: 20px;
}
.c-mt50{
    margin-top: 50px;
}
.c-pl5{
    padding-left: 5px;
}
.c-pl20{
    padding-left: 20px;
}
.c-gray-color{
    color: #9fa0a0;
}

/* S 关注模块列 */
.p-attention-list ul{
    background-color: #333;
}
.p-attention-list ul li{
    color: #fff;
    float: left;
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    padding: 25px 0;
}

/* E 关注模块列 */


/* S 内容区 */
.p-attention-ct{
    margin-top: 30px;
    color: #fff;
}
/* S 内容区左侧 */
.p-attention-ct .p-attention-ct-left{
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
.p-attention-ct-left-person{
    padding: 40px 0;
    background-color: #333;
}

.p-attention-ct-left-attention{
    background-color: #F7D61C;
    padding: 5px 20px;
    border-radius: 13px;
    display: inline-block;
    margin-right: 25px;
    color: #333;
}
.p-attention-ct-left-msg{
    border: 1px solid #F7D61C;
    padding: 5px 20px;
    border-radius: 13px;
    display: inline-block;
}
.p-attention-ct-left-look{
    padding: 20px 0 40px 0;
    background-color: #333;
}
.p-attention-ct-left-look p{
    font-size: 16px;
    border-bottom: 1px solid #9fa0a0;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 20px;
}
.p-attention-ct-left-look ul{
    padding: 0 20px;
}
.p-attention-ct-left-look ul li {
    float: left;
    width:33.33%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
}
.p-attention-ct-left-look .browser-name{
    display: inline-block;
    padding: 5px 0 5px 0;
    width: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* E 内容区左侧 */

/* S 内容区右侧 */
.p-attention-ct .p-attention-ct-right{
    float: left;
    width: 75%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
}
.attention-rotate-img{
    max-width: 100%;
}
.personal-product-list {
    text-align: left;
    background-color: #333;
    padding-left: 20px;
}
.personal-product-list ul li{
    display: inline-block;
    font-size: 16px;
    padding: 15px 0;
}
.personal-product-list ul li span{
    cursor: pointer;
    padding: 3px 15px;
    display: inline-block;
}
.personal-product-list ul li span:hover,.personal-product-list ul li span.active{
    background-color: #F7D61C;
    color: #333;
    padding: 3px 15px;
    border-radius: 13px;
}
/**S 推荐内容**/
.info-link{
    text-align: left;
    margin:20px 0 20px -3%;
}
.info-link .info-link-list{
    float: left;
    width: 30%;
    overflow: hidden;
    margin-left: 3%;
    border-radius: 10px;
    background: #fff;
}
.link-img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}
.link-img img{
    width: 100%;
}
.info-link-des{
    margin: 20px 20px 0 20px;
    position: relative;
}

.info-link-des-top{
    width: 65%;
    text-align: left;
}
.info-link-des-top .info-link-title,.info-link-des-top .info-link-ftitle{
    font-weight: normal;
    color: #595757;
}

.info-link-des-top .info-link-title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 14px;
    margin-bottom: 10px;
}
.info-link-des-top .info-link-ftitle{
    font-size: 12px;
}
.info-link-des-top .info-link-fun{
    color: #9fa0a0;
    font-size: 12px;
    line-height: 13px;
}
.info-link-des-top .info-link-fun{
    margin-right: -13px;
    padding: 10px 0 20px;
}
.info-link-des-top .info-link-fun .info-link-span{
    margin-right: 13px;
}
.info-link-des-top .info-link-fun .info-link-span img,.info-link-des-top .info-link-fun .info-link-span span{
    vertical-align: middle;
}
.info-link-des-top .info-link-fun .info-link-span span{
    padding-left: 5px;
}
.info-link-des-tx{
    padding: 0 20px;
    border-top: 1px solid #e6e6e7;
    line-height: 50px;
}
.info-link-des-tx .info-link-tx,.info-link-des-tx .info-link-time{
    display: inline-block;
    color: #9fa0a0;
}
.info-link-des-tx .info-link-tx{
    float: left;
}
.info-link-des-tx .info-link-tx img{
    width: 21px;
    height: 21px;
    vertical-align: middle;
    border-radius: 100%;
}
.info-link-des-tx .info-link-tx span{
    display: inline-block;
    width: 70px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: underline;
}
.info-link-des-tx .info-link-time{
    float: right;
}
/**E 推荐内容**/

/* S 分页 */
.personal-product-page .m-newest-Page {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-product-page .m-newest-Page ul {
    display: inline-block;
}

.personal-product-page .m-newest-Page ul li a {
    padding: 13px 16px;
    background: #666;
    margin: 0 3px;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    color: #9fa0a0;
}

.personal-product-page .m-newest-Page ul li .active {
    background: #F7D61C;
    color: #fff;
}
/* E 分页 */

/* S 评论 */
.personal-product-commend{
    padding: 20px 0;
    background-color: #333;
}
.commend-wrap textarea {
    width: 100%;
    background-color: #666;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
}
.personal-product-commend .commend-wrap{
    padding: 0 30px;
}
.personal-product-commend .commend-num{
    text-align: left;
    border-top: 1px solid #666;
    padding: 20px 30px 0;
    margin-top: 15px;
}
.personal-product-commend .commend-num span:first-of-type{
    font-size: 16px;
    padding-right: 10px;
}
.personal-product-commend ul li{
    text-align: left;
    padding: 30px 30px 50px;
    border-bottom: 1px solid #666;
}
.personal-product-commend ul li:last-of-type{
    border-bottom: none;
}
.personal-product-commend ul li img,.personal-product-commend ul li div{
    vertical-align: middle;
}
.personal-product-commend-thumb{
    text-align: right;
}
.personal-product-commend-reply:before{
    content: "";
    height: 0;
    position: absolute;
    left: 20px;
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #666;
}
.personal-product-commend-reply{
    position: relative;
    padding: 20px;
    margin-left: 80px;
    margin-top: 30px;
    background-color: #666;
    border-radius: 5px;
}
.personal-product-commend-reply p{
    margin-top: 5px;
}
/* E 评论 */

/* E 内容区右侧 */


