/****列标***/
.c-mr20{
	margin-right: 20px !important;
}
.g-list-nav{
	margin-top: 60px;
}
div.select-container{
	text-align: center;
	font-size: 18px;
	color: #fff;
}

div.select-container .select{
	width: 107px;
	padding-right: 26px;
	border: 1px solid #666;
	height: 37px;
	line-height: 37px;
	border-radius: 5px;
	background: url(../../../images/sselect-jt.png) no-repeat 107px center;
	cursor: pointer;
}
div.select-container .option{
	display: none;
	width: 133px;
	border: 1px solid #666;
	border-radius: 5px;
}
div.select-container .option li{
	height: 37px;
	line-height: 37px;
	cursor: pointer;
}
.u-list-btn{
	display: block;
	width: 136px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	background: #f7d61c;
	border: none;
	border-radius: 10px;
}
.g-list-container{
	margin-top: 35px;
}
.m-list-box ul{
	overflow: hidden;
	margin-right: -18px;
}
.m-list-box ul li{
	float: left;
	width: 236px;
	height: auto;
	margin-right: 18px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
}
.m-list-box ul li  .m-list-boxImg{
	width: 100%;
	height: 180px;
}
.m-list-box ul li .m-list-boxImg img{
	width: 100%;
	height: 100%;
}
.info-link-des {
    margin: 20px 20px 0 20px;
    position: relative;
}


.info-link-des-top {
    width: 65%;
    text-align: left;
}

.info-link-des-top .info-link-title,
.info-link-des-top .info-link-ftitle {
    font-weight: normal;
    color: #595757;
}

.info-link-des-top .info-link-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 10px;
}

.info-link-des-top .info-link-ftitle {
    font-size: 12px;
}

.info-link-des-top .info-link-fun {
    color: #9fa0a0;
    font-size: 12px;
    line-height: 13px;
}

.info-link-des-top .info-link-fun {
    margin-right: -13px;
    padding: 20px 0;
}

.info-link-des-top .info-link-fun span {
    margin-right: 13px;
}

.info-link-des-top .info-link-fun img {
    vertical-align: middle;
}

.info-link-des-tx {
    padding: 0 20px;
    border-top: 1px solid #e6e6e7;
    line-height: 50px;
}

.info-link-des-tx .info-link-tx,
.info-link-des-tx .info-link-time {
    display: inline-block;
    color: #9fa0a0;
}

.info-link-des-tx .info-link-tx {
    float: left;
}

.info-link-des-tx .info-link-tx img {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    border-radius: 100%;
}

.info-link-des-tx .info-link-tx span {
    display: inline-block;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: underline;
}

.info-link-des-tx .info-link-time {
    float: right;
}
.personal-product-page .m-newest-Page {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-product-page .m-newest-Page ul {
    display: inline-block;
}

.personal-product-page .m-newest-Page ul li a {
    padding: 13px 16px;
    background: #666;
    margin: 0 3px;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    color: #9fa0a0;
}

.personal-product-page .m-newest-Page ul li .active {
    background: #F7D61C;
    color: #fff;
}

.m-list-navTitle{
	line-height: 90px;
	overflow: hidden;
}
.m-list-navTitle .m-navTitle-fl,.m-list-navTitle .m-navTitle-fr{
	font-size: 18px;
	font-weight: normal;
}
.m-list-navTitle .m-navTitle-fl{
	float: left;
	color: #fff;
}
.m-list-navTitle .m-navTitle-fr{
	float: right;
	color: #f7d61c;
}
